body {
    margin: 20px;
}

strong {
    color: green;
}

img {
    max-width: 30px;
    max-height: 30px;
    justify-self: center;
    align-self: center;
}

p {
    justify-self: start;
    align-self: center;
}

.container {
    background-color: #a7c5eb;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px; 
}

.forcast {
    background-color: #f6ecf0;
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
}

.forcast.today {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.forcast.last5 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.forcast.next5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.forcast.hourly {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 0.1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
    
    display: grid;
    
}


.title  {
    max-height: 20px;
}

.title.today {
    grid-column-start: 1;
    grid-column-end: 3;    
}

.title.next5 {
    grid-column-start: 1;
    grid-column-end: 6; 
}

.title.hourly {
    grid-column-start: 1;
    grid-column-end: 25; 
}

.hours {
    background-color: #949cdf;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}
